<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Imageboard</h1>

<% @posts.each do |post| %>
<div class="container">
<%= image_tag(post.image) %>
<p class="caption">
<%= "Caption: " + post.caption.to_s %>
</p>
<p>
<%@id = User.find_by id: post.user_id%>
<%="by: " + @id.getName%>
</p>
<div>
<%= render "posts/upvote_link", post: post%>
<%= render "posts/votes_total", post: post%>
</div>


</div>


 
<% end %>

