<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption %>
  </div>

  <div class="field">
  <p>
  <%= form.radio_button :ispublic, "true"%>
<%= form.label :ispublic, "visible to everyone" %>

<%= form.radio_button :ispublic, "false"%>
<%= form.label :ispublic, "only visible to registered users" %>
</div>
  <div class="field">
  <%= form.label :tag_list, "Tags" %>
   <%= form.text_field :tag_list, value: form.object.tag_list.to_s, placeholder: "seperate tags with ," %>
   
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
