<%= csrf_meta_tags %>
<p id="notice"><%= notice %></p>

<div class="show-container">
<%= image_tag @post.image, id: 'show-image' %>


<p>
  <strong><%= @post.caption %></strong>
 <p>
 <%= "Tags: " + @post.tag_list.to_s%>
 </p>
  </p>
  <% if user_signed_in? && current_user.id == @post.user_id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', board_index_path %>

<p>
<strong> Comments: </strong>
</p>

<%= render partial: 'comments/form', locals: { post: @post }%>
</div>
<%= render @post.comments %>




</div>

