<!DOCTYPE html>
<html>
  <head>
    <title>Imageboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 <div class="topnav ">
  <a class="active"><%=link_to "Home", board_index_path%></a>
   <%if user_signed_in?%>
   <%= link_to "Upload Image", new_post_path %>
  <%= link_to "Sign out",destroy_user_session_path, method: :delete %>
  <%else%>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
  <%end%>
 
  <div class="topnav-right">
  
  <%if user_signed_in?%>
  <a class="dontHover"><%="Welcome, " + current_user.getName %></a>
  <%end%>
   
  
</div>
</div>
    <%= yield %>
  </body>
</html>
